### Merge Groupby and Dummy Service Request and Crime datasets

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
#import 2019 Service Request dataset which has been grouped by month_created and PolicePrecinct and dummied
dfsr_d = pd.read_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\sr_2019_grpby_dummies2.csv', index_col=0)

In [4]:
#import 2019 Crime dataset which has been grouped by CreatedDate (month_created) and PolicePrecinct and dummied
dfcr_d = pd.read_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\cr_2019_grpby_dummies.csv', index_col=0)

In [5]:
dfcr_d.head(2)

,month_created,PolicePrecinct,Crm Cd Desc_ARSON,Crm Cd Desc_ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER,"Crm Cd Desc_ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",Crm Cd Desc_ATTEMPTED ROBBERY,Crm Cd Desc_BATTERY - SIMPLE ASSAULT,Crm Cd Desc_BATTERY ON A FIREFIGHTER,Crm Cd Desc_BATTERY POLICE (SIMPLE),Crm Cd Desc_BATTERY WITH SEXUAL CONTACT,...,vic_age_61-80,vic_age_over80,vic_age_under13,time_2am-5am,time_3pm-5pm,time_5am-9am,time_5pm-8pm,time_8pm-mid,time_9am-3pm,time_mid-2am
0,1,77TH STREET,1,0,73,10,99,0,0,4,...,77,8,17,54,103,125,155,307,158,63
1,1,CENTRAL,2,0,56,7,144,1,1,12,...,75,4,4,70,125,135,148,275,142,68

In [6]:
dfsr_d.head(2)

,CreatedDate,PolicePrecinct,NC_ID,ZipCode,RequestType_Bulky Items,RequestType_Dead Animal Removal,RequestType_Electronic Waste,RequestType_Feedback,RequestType_Graffiti Removal,RequestType_Homeless Encampment,...,RequestSource_Email,RequestSource_Fax,RequestSource_Mayor's Office,RequestSource_Mobile App,RequestSource_Queue Initiated Customer Call,RequestSource_Self Service,RequestSource_Twitter,RequestSource_Voicemail,RequestSource_Walk-in,RequestSource_Web Form
0,1,77TH STREET,80,90043,478,19,36,0,28,3,...,1,0,0,91,0,56,0,0,0,0
1,1,77TH STREET,80,90047,12,0,1,0,1,1,...,0,0,0,1,0,0,0,0,0,0

In [7]:
dfsr_d.rename(columns = {"CreatedDate": "month_created"}, inplace=True)

In [8]:
dfsr_d.head(2)

,month_created,PolicePrecinct,NC_ID,ZipCode,RequestType_Bulky Items,RequestType_Dead Animal Removal,RequestType_Electronic Waste,RequestType_Feedback,RequestType_Graffiti Removal,RequestType_Homeless Encampment,...,RequestSource_Email,RequestSource_Fax,RequestSource_Mayor's Office,RequestSource_Mobile App,RequestSource_Queue Initiated Customer Call,RequestSource_Self Service,RequestSource_Twitter,RequestSource_Voicemail,RequestSource_Walk-in,RequestSource_Web Form
0,1,77TH STREET,80,90043,478,19,36,0,28,3,...,1,0,0,91,0,56,0,0,0,0
1,1,77TH STREET,80,90047,12,0,1,0,1,1,...,0,0,0,1,0,0,0,0,0,0

In [9]:
dfcr_d.shape

(252, 495)

In [10]:
dfsr_d.shape

(5943, 29)

In [11]:
# Merge Service Request and Crime Data into df_merged
df_merged = dfsr_d.merge(dfcr_d, on = ['month_created', 'PolicePrecinct'], how='left', indicator = True)

In [12]:
df_merged.head()

,month_created,PolicePrecinct,NC_ID,ZipCode,RequestType_Bulky Items,RequestType_Dead Animal Removal,RequestType_Electronic Waste,RequestType_Feedback,RequestType_Graffiti Removal,RequestType_Homeless Encampment,...,vic_age_over80,vic_age_under13,time_2am-5am,time_3pm-5pm,time_5am-9am,time_5pm-8pm,time_8pm-mid,time_9am-3pm,time_mid-2am,_merge
0,1,77TH STREET,80,90043,478,19,36,0,28,3,...,8,17,54,103,125,155,307,158,63,both
1,1,77TH STREET,80,90047,12,0,1,0,1,1,...,8,17,54,103,125,155,307,158,63,both
2,1,77TH STREET,80,90056,4,0,0,0,0,0,...,8,17,54,103,125,155,307,158,63,both
3,1,77TH STREET,80,90062,0,0,0,0,1,3,...,8,17,54,103,125,155,307,158,63,both
4,1,77TH STREET,80,90305,0,1,0,0,4,0,...,8,17,54,103,125,155,307,158,63,both

In [13]:
df_merged.shape

(5943, 523)

In [14]:
df_merged._merge.value_counts()

both          5943
left_only        0
right_only       0
Name: _merge, dtype: int64

In [15]:
df_merged.to_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\sr_crime_merged_dummy_grouped2.csv')