In [48]:
# Import the necessary packages
import pandas as pd
#import os
import numpy as np
from datetime import datetime

In [49]:


# Since the 311 request data file is so huge, we set the low_memory = False...
la_311 = pd.read_csv(r'C:\Documents\projects\HackLA\311\data\call data 311 website\MyLA311_Service_Request_Data_2019.csv', low_memory=False, index_col=None)

In [72]:
crime_data = pd.read_csv(r'C:\Documents\projects\HackLA\311\data\crime data\Crime_Data_from_2010_to_2019.csv', index_col=None)

In [51]:
la_311.head(2)

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,CreatedByUserOrganization,MobileOS,Anonymous,AssignTo,ServiceDate,ClosedDate,AddressVerified,ApproximateAddress,Address,HouseNumber,Direction,StreetName,Suffix,ZipCode,Latitude,Longitude,Location,TBMPage,TBMColumn,TBMRow,APC,CD,CDMember,NC,NCName,PolicePrecinct
0,1-1262692791,01/01/2019 12:02:00 AM,01/04/2019 11:03:00 AM,SR Created,BOS,Bulky Items,Closed,Self Service,Self Service_SAN,NaN,N,NC,01/04/2019 12:00:00 AM,01/04/2019 11:03:00 AM,Y,N,"616 N GRAMERCY PL, 90004",616.0,N,GRAMERCY,PL,90004.0,34.082258,-118.312461,"(34.0822581437, -118.312461304)",593.0,H,7.0,Central APC,4.0,David Ryu,119.0,GREATER WILSHIRE NC,OLYMPIC
1,1-1262693531,01/01/2019 12:05:00 AM,01/01/2019 12:09:00 AM,SR Created,LADWP,Report Water Waste,Closed,Mobile App,Self Service,Android,N,NaN,NaN,01/01/2019 12:05:00 AM,Y,NaN,"11500 W SAN VICENTE BLVD, 90049",11500.0,W,SAN VICENTE,BLVD,90049.0,34.052739,-118.461185,"(34.052739298, -118.461184916)",631.0,J,4.0,West Los Angeles APC,11.0,Mike Bonin,NaN,NaN,WEST LOS ANGELES

In [52]:
# Since both the dataframes have many column, let us remove the unnecessary ones...
la_311=la_311[['SRNumber','CreatedDate', 'UpdatedDate', 'NC', 'NCName', 'RequestType','RequestSource','Address','ZipCode', 'Latitude', 'Longitude', 'Location', 'PolicePrecinct' ]]
la_311.head(2)

,SRNumber,CreatedDate,UpdatedDate,NC,NCName,RequestType,RequestSource,Address,ZipCode,Latitude,Longitude,Location,PolicePrecinct
0,1-1262692791,01/01/2019 12:02:00 AM,01/04/2019 11:03:00 AM,119.0,GREATER WILSHIRE NC,Bulky Items,Self Service,"616 N GRAMERCY PL, 90004",90004.0,34.082258,-118.312461,"(34.0822581437, -118.312461304)",OLYMPIC
1,1-1262693531,01/01/2019 12:05:00 AM,01/01/2019 12:09:00 AM,NaN,NaN,Report Water Waste,Mobile App,"11500 W SAN VICENTE BLVD, 90049",90049.0,34.052739,-118.461185,"(34.052739298, -118.461184916)",WEST LOS ANGELES

In [53]:
la_311.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308093 entries, 0 to 1308092
Data columns (total 13 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   SRNumber        1308093 non-null  object
 1   CreatedDate     1308093 non-null  object
 2   UpdatedDate     1308093 non-null  object
 3   NC              1299540 non-null  float64
 4   NCName          1299540 non-null  object
 5   RequestType     1308093 non-null  object
 6   RequestSource   1308093 non-null  object
 7   Address         1308015 non-null  object
 8   ZipCode         1306345 non-null  float64
 9   Latitude        1306791 non-null  float64
 10  Longitude       1306791 non-null  float64
 11  Location        1306791 non-null  object
 12  PolicePrecinct  1306771 non-null  object
dtypes: float64(4), object(9)
memory usage: 129.7+ MB

In [55]:
pd.options.display.max_columns = None

In [63]:
crime_data.head(2)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,0913 1814 2000,48,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,0,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962

In [73]:
# remove the unnecessary columns
crime_data=crime_data[['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA NAME', 'Rpt Dist No', 'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Desc', 'Weapon Used Cd', 'Weapon Desc', 'Status Desc',	'LOCATION']]

In [65]:
crime_data.head(2)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Rpt Dist No,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Used Cd,Weapon Desc,Status Desc,LOCATION
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,Newton,1385,48,M,H,SINGLE FAMILY DWELLING,NaN,NaN,Adult Arrest,300 E GAGE AV
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,Pacific,1485,0,M,W,STREET,NaN,NaN,Invest Cont,SEPULVEDA BL

In [74]:
# There are 2 date columns in the crime_data df (dataframe). Will keep both dates and filter by Date Rptd and use that to try to merge
# with call data

crime_data['DATE OCC']= pd.to_datetime(crime_data['DATE OCC'])

crime_data['Date Rptd']= pd.to_datetime(crime_data['Date Rptd'])

In [75]:
crime_data.head(2)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Rpt Dist No,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Used Cd,Weapon Desc,Status Desc,LOCATION
0,1307355,2010-02-20,2010-02-20,1350,Newton,1385,48,M,H,SINGLE FAMILY DWELLING,NaN,NaN,Adult Arrest,300 E GAGE AV
1,11401303,2010-09-13,2010-09-12,45,Pacific,1485,0,M,W,STREET,NaN,NaN,Invest Cont,SEPULVEDA BL

In [79]:
crime_data.dtypes

DR_NO                      int64
Date Rptd         datetime64[ns]
DATE OCC          datetime64[ns]
TIME OCC                   int64
AREA NAME                 object
Rpt Dist No                int64
Vict Age                   int64
Vict Sex                  object
Vict Descent              object
Premis Desc               object
Weapon Used Cd           float64
Weapon Desc               object
Status Desc               object
LOCATION                  object
dtype: object

In [80]:
crime_data_2019 =crime_data[crime_data['Date Rptd'].dt.year==2019]

In [82]:
crime_data_2019.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Rpt Dist No,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Used Cd,Weapon Desc,Status Desc,LOCATION
85876,190705631,2019-02-04,2010-07-01,1100,Wilshire,773,60,F,B,SINGLE FAMILY DWELLING,NaN,NaN,Invest Cont,1900 S RIDGELEY DR
86769,191300738,2019-06-11,2010-06-07,1800,Newton,1383,23,M,B,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,Invest Cont,5800 S BROADWAY
87398,191226689,2019-11-11,2010-10-13,1500,77th Street,1242,18,F,B,SINGLE FAMILY DWELLING,NaN,NaN,Invest Cont,6500 3RD AV
87436,190515351,2019-09-12,2010-01-01,800,Harbor,525,50,M,H,SINGLE FAMILY DWELLING,NaN,NaN,Invest Cont,900 MCDONALD
87649,190907999,2019-03-14,2010-01-01,1,Van Nuys,926,34,F,A,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,14400 VICTORY BL

In [85]:
crime_data_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220556 entries, 85876 to 2119796
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           220556 non-null  int64
 1   Date Rptd       220556 non-null  datetime64[ns]
 2   DATE OCC        220556 non-null  datetime64[ns]
 3   TIME OCC        220556 non-null  int64
 4   AREA NAME       220556 non-null  object
 5   Rpt Dist No     220556 non-null  int64
 6   Vict Age        220556 non-null  int64
 7   Vict Sex        200634 non-null  object
 8   Vict Descent    200630 non-null  object
 9   Premis Desc     220465 non-null  object
 10  Weapon Used Cd  78617 non-null   float64
 11  Weapon Desc     78617 non-null   object
 12  Status Desc     220556 non-null  object
 13  LOCATION        220556 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(4), object(7)
memory usage: 25.2+ MB

In [83]:
crime_data_2019.to_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\crime_data_2019R.csv')

In [86]:
crime_data_2019['Date Rptd'].min()

Timestamp('2019-01-01 00:00:00')

In [87]:
crime_data_2019['Date Rptd'].max()

Timestamp('2019-12-31 00:00:00')

In [88]:
crime_data_2019['DATE OCC'].min()

Timestamp('2010-01-01 00:00:00')

In [89]:
crime_data_2019['DATE OCC'].max()

Timestamp('2019-12-31 00:00:00')

In [90]:
crime_data_2019.shape

(220556, 14)

In [91]:
la_311.shape

(1308093, 13)

In [92]:
la_311.dtypes

SRNumber           object
CreatedDate        object
UpdatedDate        object
NC                float64
NCName             object
RequestType        object
RequestSource      object
Address            object
ZipCode           float64
Latitude          float64
Longitude         float64
Location           object
PolicePrecinct     object
dtype: object

In [93]:
la_311['CreatedDate']= pd.to_datetime(la_311['CreatedDate'])

la_311['UpdatedDate']= pd.to_datetime(la_311['UpdatedDate'])

la_311.head(2)

,SRNumber,CreatedDate,UpdatedDate,NC,NCName,RequestType,RequestSource,Address,ZipCode,Latitude,Longitude,Location,PolicePrecinct
0,1-1262692791,2019-01-01 00:02:00,2019-01-04 11:03:00,119.0,GREATER WILSHIRE NC,Bulky Items,Self Service,"616 N GRAMERCY PL, 90004",90004.0,34.082258,-118.312461,"(34.0822581437, -118.312461304)",OLYMPIC
1,1-1262693531,2019-01-01 00:05:00,2019-01-01 00:09:00,NaN,NaN,Report Water Waste,Mobile App,"11500 W SAN VICENTE BLVD, 90049",90049.0,34.052739,-118.461185,"(34.052739298, -118.461184916)",WEST LOS ANGELES

In [94]:
la_311['PolicePrecinct'].unique()

array(['OLYMPIC', 'WEST LOS ANGELES', 'DEVONSHIRE', 'HOLLENBECK',
       'HARBOR', 'WEST VALLEY', 'NORTHEAST', 'HOLLYWOOD',
       'NORTH HOLLYWOOD', 'PACIFIC', 'WILSHIRE', 'SOUTHEAST', 'FOOTHILL',
       'TOPANGA', 'RAMPART', 'MISSION', '77TH STREET', 'SOUTHWEST',
       'CENTRAL', 'VAN NUYS', 'NEWTON', nan], dtype=object)

In [96]:
crime_data_2019.rename(columns = {"AREA NAME": "PolicePrecinct"}, inplace=True)

C:\Users\lizge\AppData\Local\Temp\ipykernel_8744\4088364273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_2019.rename(columns = {"AREA NAME": "PolicePrecinct"}, inplace=True)

In [97]:
crime_data_2019['PolicePrecinct'].unique()

array(['Wilshire', 'Newton', '77th Street', 'Harbor', 'Van Nuys',
       'Olympic', 'Mission', 'Southwest', 'West LA', 'Hollywood',
       'Hollenbeck', 'West Valley', 'Southeast', 'Central', 'Devonshire',
       'Foothill', 'Rampart', 'Northeast', 'Topanga', 'N Hollywood',
       'Pacific'], dtype=object)

In [98]:
la_311.isnull().sum()

SRNumber             0
CreatedDate          0
UpdatedDate          0
NC                8553
NCName            8553
RequestType          0
RequestSource        0
Address             78
ZipCode           1748
Latitude          1302
Longitude         1302
Location          1302
PolicePrecinct    1322
dtype: int64

In [99]:
la_311 = la_311[la_311['PolicePrecinct'].isnull() == False]

In [100]:
la_311.isnull().sum()

SRNumber             0
CreatedDate          0
UpdatedDate          0
NC                7231
NCName            7231
RequestType          0
RequestSource        0
Address              0
ZipCode            438
Latitude             0
Longitude            0
Location             0
PolicePrecinct       0
dtype: int64

In [101]:
la_311.shape

(1306771, 13)

In [102]:
crime_data_2019['PolicePrecinct']= crime_data_2019['PolicePrecinct'].str.upper()

C:\Users\lizge\AppData\Local\Temp\ipykernel_8744\3483178127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_2019['PolicePrecinct']= crime_data_2019['PolicePrecinct'].str.upper()

In [103]:
CmpPol = np.setdiff1d(crime_data_2019['PolicePrecinct'], la_311['PolicePrecinct'])

In [104]:
CmpPol

array(['N HOLLYWOOD', 'WEST LA'], dtype=object)

In [105]:
crime_data_2019['PolicePrecinct'].unique()

array(['WILSHIRE', 'NEWTON', '77TH STREET', 'HARBOR', 'VAN NUYS',
       'OLYMPIC', 'MISSION', 'SOUTHWEST', 'WEST LA', 'HOLLYWOOD',
       'HOLLENBECK', 'WEST VALLEY', 'SOUTHEAST', 'CENTRAL', 'DEVONSHIRE',
       'FOOTHILL', 'RAMPART', 'NORTHEAST', 'TOPANGA', 'N HOLLYWOOD',
       'PACIFIC'], dtype=object)

In [106]:
la_311['PolicePrecinct'].unique()

array(['OLYMPIC', 'WEST LOS ANGELES', 'DEVONSHIRE', 'HOLLENBECK',
       'HARBOR', 'WEST VALLEY', 'NORTHEAST', 'HOLLYWOOD',
       'NORTH HOLLYWOOD', 'PACIFIC', 'WILSHIRE', 'SOUTHEAST', 'FOOTHILL',
       'TOPANGA', 'RAMPART', 'MISSION', '77TH STREET', 'SOUTHWEST',
       'CENTRAL', 'VAN NUYS', 'NEWTON'], dtype=object)

In [107]:
# Replace multiple values with multiple new values for an individual DataFrame column.
la_311['PolicePrecinct'] = la_311['PolicePrecinct'].replace(['NORTH HOLLYWOOD','WEST LOS ANGELES'],['N HOLLYWOOD','WEST LA'])

In [108]:
la_311['PolicePrecinct'].unique()

array(['OLYMPIC', 'WEST LA', 'DEVONSHIRE', 'HOLLENBECK', 'HARBOR',
       'WEST VALLEY', 'NORTHEAST', 'HOLLYWOOD', 'N HOLLYWOOD', 'PACIFIC',
       'WILSHIRE', 'SOUTHEAST', 'FOOTHILL', 'TOPANGA', 'RAMPART',
       'MISSION', '77TH STREET', 'SOUTHWEST', 'CENTRAL', 'VAN NUYS',
       'NEWTON'], dtype=object)

In [109]:
CmpPol = np.setdiff1d(crime_data_2019['PolicePrecinct'], la_311['PolicePrecinct'])
CmpPol

array([], dtype=object)

PolicePrecinct column is the same in both datasets

In [111]:
crime_data_2019.rename(columns = {"Date Rptd": "CreatedDate"}, inplace=True)

C:\Users\lizge\AppData\Local\Temp\ipykernel_8744\2233313355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_2019.rename(columns = {"Date Rptd": "CreatedDate"}, inplace=True)

In [114]:
crime_data_2019['CreatedDate'] = pd.to_datetime(crime_data_2019['CreatedDate']).dt.normalize()

C:\Users\lizge\AppData\Local\Temp\ipykernel_8744\2081825218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_2019['CreatedDate'] = pd.to_datetime(crime_data_2019['CreatedDate']).dt.normalize()

In [115]:
la_311['CreatedDate'] = pd.to_datetime(la_311['CreatedDate']).dt.normalize()

In [116]:
CmpDates = np.setdiff1d(crime_data_2019['CreatedDate'], la_311['CreatedDate'])

In [117]:
CmpDates

array([], dtype='datetime64[ns]')

In [119]:
crime_data_2019.head(2)

,DR_NO,CreatedDate,DATE OCC,TIME OCC,PolicePrecinct,Rpt Dist No,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Used Cd,Weapon Desc,Status Desc,LOCATION
85876,190705631,2019-02-04,2010-07-01,1100,WILSHIRE,773,60,F,B,SINGLE FAMILY DWELLING,NaN,NaN,Invest Cont,1900 S RIDGELEY DR
86769,191300738,2019-06-11,2010-06-07,1800,NEWTON,1383,23,M,B,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,Invest Cont,5800 S BROADWAY

In [120]:
la_311.head(2)

,SRNumber,CreatedDate,UpdatedDate,NC,NCName,RequestType,RequestSource,Address,ZipCode,Latitude,Longitude,Location,PolicePrecinct
0,1-1262692791,2019-01-01,2019-01-04 11:03:00,119.0,GREATER WILSHIRE NC,Bulky Items,Self Service,"616 N GRAMERCY PL, 90004",90004.0,34.082258,-118.312461,"(34.0822581437, -118.312461304)",OLYMPIC
1,1-1262693531,2019-01-01,2019-01-01 00:09:00,NaN,NaN,Report Water Waste,Mobile App,"11500 W SAN VICENTE BLVD, 90049",90049.0,34.052739,-118.461185,"(34.052739298, -118.461184916)",WEST LA

In [122]:
cd2019b = crime_data_2019

In [123]:
cd2019b.to_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\crime_data_2019R.csv')

In [124]:
# MErging the two dataframes.
#df_merged = df.merge(df_2, on = ['customer_id', 'month'], indicator = True)
df_merge= pd.merge(cd2019b, la_311, on=['PolicePrecinct', 'CreatedDate'], how='left', indicator=True)

In [125]:
df_merge.head()

,DR_NO,CreatedDate,DATE OCC,TIME OCC,PolicePrecinct,Rpt Dist No,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Used Cd,Weapon Desc,Status Desc,LOCATION,SRNumber,UpdatedDate,NC,NCName,RequestType,RequestSource,Address,ZipCode,Latitude,Longitude,Location,_merge
0,190705631,2019-02-04,2010-07-01,1100,WILSHIRE,773,60,F,B,SINGLE FAMILY DWELLING,NaN,NaN,Invest Cont,1900 S RIDGELEY DR,1-1284879451,2019-02-07 10:38:00,58.0,MID CITY WEST CC,Illegal Dumping Pickup,Call,"751 N ORANGE GROVE AVE, 90046",90046.0,34.085202,-118.360668,"(34.0852016134, -118.360667602)",both
1,190705631,2019-02-04,2010-07-01,1100,WILSHIRE,773,60,F,B,SINGLE FAMILY DWELLING,NaN,NaN,Invest Cont,1900 S RIDGELEY DR,1-1284881337,2019-02-08 10:20:00,119.0,GREATER WILSHIRE NC,Bulky Items,Mobile App,"150 S LA BREA AVE, 90036",90036.0,34.072058,-118.343872,"(34.0720577832, -118.343872483)",both
2,190705631,2019-02-04,2010-07-01,1100,WILSHIRE,773,60,F,B,SINGLE FAMILY DWELLING,NaN,NaN,Invest Cont,1900 S RIDGELEY DR,1-1284891854,2019-02-11 13:33:00,58.0,MID CITY WEST CC,Bulky Items,Mobile App,"6207 W SAN VICENTE BLVD, 90048",90048.0,34.060732,-118.366357,"(34.0607316625, -118.366357217)",both
3,190705631,2019-02-04,2010-07-01,1100,WILSHIRE,773,60,F,B,SINGLE FAMILY DWELLING,NaN,NaN,Invest Cont,1900 S RIDGELEY DR,1-1284892021,2019-02-08 14:50:00,60.0,P.I.C.O. NC,Metal/Household Appliances,Call,"5910 W AIRDROME ST, 90035",90035.0,34.045795,-118.369688,"(34.0457946487, -118.369688046)",both
4,190705631,2019-02-04,2010-07-01,1100,WILSHIRE,773,60,F,B,SINGLE FAMILY DWELLING,NaN,NaN,Invest Cont,1900 S RIDGELEY DR,1-1284899341,2019-02-11 08:59:00,74.0,UNITED NEIGHBORHOODS OF THE HISTORIC ARLINGTON...,Bulky Items,Call,"2021 S 4TH AVE, 90018",90018.0,34.038446,-118.321542,"(34.0384455466, -118.321542152)",both

In [126]:
df_merge.to_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\Merge.csv')

In [42]:
la_311.to_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\la_311_2019.csv')

In [110]:
crime_data_2019.to_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\crime_data_2019R.csv')

In [127]:
df_merge.shape

(38176837, 26)

In [128]:
cd2019b.shape

(220556, 14)

In [129]:
la_311.shape

(1306771, 13)

In [130]:
df_merge['_merge'].value_counts()

both          38176686
left_only          151
right_only           0
Name: _merge, dtype: int64

In [132]:
df_merge[df_merge['_merge'] == 'left_only'].head()

,DR_NO,CreatedDate,DATE OCC,TIME OCC,PolicePrecinct,Rpt Dist No,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Used Cd,Weapon Desc,Status Desc,LOCATION,SRNumber,UpdatedDate,NC,NCName,RequestType,RequestSource,Address,ZipCode,Latitude,Longitude,Location,_merge
866074,191209170,2019-03-16,2018-12-30,1000,77TH STREET,1233,63,M,B,STREET,NaN,NaN,Invest Cont,6000 S WESTERN AV,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1717850,191007281,2019-03-16,2019-03-16,500,WEST VALLEY,1047,24,M,H,YARD (RESIDENTIAL/BUSINESS),511.0,VERBAL THREAT,Adult Other,5600 WISH AV,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1815947,190707734,2019-03-16,2019-03-16,1035,WILSHIRE,705,42,M,W,STREET,NaN,NaN,Invest Cont,700 N DETROIT ST,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1974723,191308146,2019-03-16,2019-03-15,1900,NEWTON,1344,35,F,H,STREET,NaN,NaN,Invest Cont,800 E 42ND PL,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2687873,190109199,2019-03-16,2019-03-16,1535,CENTRAL,192,32,M,B,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,1300 S HOPE ST,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [133]:
la_311['CreatedDate'].isnull().sum()

0

In [135]:
la_311['PolicePrecinct'].isnull().sum()

0

In [136]:
cd2019b['CreatedDate'].isnull().sum()

0

In [137]:
cd2019b['PolicePrecinct'].isnull().sum()

0

In [138]:
dfLeft=df_merge[df_merge['_merge'] == 'left_only']

In [140]:
dfLeft.head()

,DR_NO,CreatedDate,DATE OCC,TIME OCC,PolicePrecinct,Rpt Dist No,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Used Cd,Weapon Desc,Status Desc,LOCATION,SRNumber,UpdatedDate,NC,NCName,RequestType,RequestSource,Address,ZipCode,Latitude,Longitude,Location,_merge
866074,191209170,2019-03-16,2018-12-30,1000,77TH STREET,1233,63,M,B,STREET,NaN,NaN,Invest Cont,6000 S WESTERN AV,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1717850,191007281,2019-03-16,2019-03-16,500,WEST VALLEY,1047,24,M,H,YARD (RESIDENTIAL/BUSINESS),511.0,VERBAL THREAT,Adult Other,5600 WISH AV,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1815947,190707734,2019-03-16,2019-03-16,1035,WILSHIRE,705,42,M,W,STREET,NaN,NaN,Invest Cont,700 N DETROIT ST,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1974723,191308146,2019-03-16,2019-03-15,1900,NEWTON,1344,35,F,H,STREET,NaN,NaN,Invest Cont,800 E 42ND PL,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2687873,190109199,2019-03-16,2019-03-16,1535,CENTRAL,192,32,M,B,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,1300 S HOPE ST,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only