#### Merge 2019 call data with 2019 crime data

In [1]:
import pandas as pd

In [2]:
#import 2019 call data
dfcall = pd.read_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\clean_call_2019.csv', low_memory=False, index_col=0)

In [3]:
dfcall.head(2)

,requestId,srnumber,councilId,councilName,typeId,typeName,agencyId,agencyName,sourceId,sourceName,createdDate,closedDate,address,AreaName
0,1,1-1262692791,32,Greater Wilshire,4,Bulky Items,2,Sanitation Bureau,17,Website,2019-01-01T00:02:00,2019-01-04 11:03:00,"616 N GRAMERCY PL, 90004",Olympic
1,3,1-1262693571,60,Northridge West,1,Graffiti,4,Office of Community Beautification,17,Website,2019-01-01T00:10:00,2019-01-03 00:27:00,"9167 N RESEDA BLVD, 91324",Devonshire

In [4]:
#import 2019 crime data
dfcrime = pd.read_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\cr2019b.csv', low_memory=False, index_col=0)

In [5]:
dfcrime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 213315 entries, 1836033 to 2119796
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE OCC     213315 non-null  object
 1   TIME OCC     213315 non-null  float64
 2   AreaName     213315 non-null  object
 3   Rpt Dist No  213315 non-null  float64
 4   Crm Cd       213315 non-null  float64
 5   Crm Cd Desc  213315 non-null  object
 6   Status Desc  213315 non-null  object
 7   LOCATION     213315 non-null  object
dtypes: float64(3), object(5)
memory usage: 14.6+ MB

In [6]:
dfcrime['TIME OCC'] = dfcrime['TIME OCC'].astype('float16')

In [7]:
dfcrime['Rpt Dist No'] = dfcrime['Rpt Dist No'].astype('float16')

In [8]:
dfcrime['Crm Cd'] = dfcrime['Crm Cd'].astype('float16')

In [9]:
dfcrime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 213315 entries, 1836033 to 2119796
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE OCC     213315 non-null  object
 1   TIME OCC     213315 non-null  float16
 2   AreaName     213315 non-null  object
 3   Rpt Dist No  213315 non-null  float16
 4   Crm Cd       213315 non-null  float16
 5   Crm Cd Desc  213315 non-null  object
 6   Status Desc  213315 non-null  object
 7   LOCATION     213315 non-null  object
dtypes: float16(3), object(5)
memory usage: 11.0+ MB

In [10]:
dfcrime.head(2)

,DATE OCC,TIME OCC,AreaName,Rpt Dist No,Crm Cd,Crm Cd Desc,Status Desc,LOCATION
1836033,2019-06-28,2200.0,Wilshire,702.0,510.0,VEHICLE - STOLEN,Invest Cont,WARING
1836116,2019-05-23,1930.0,Mission,1964.0,510.0,VEHICLE - STOLEN,Invest Cont,9200 TOBIAS AV

In [11]:
dfcall.head(2)

,requestId,srnumber,councilId,councilName,typeId,typeName,agencyId,agencyName,sourceId,sourceName,createdDate,closedDate,address,AreaName
0,1,1-1262692791,32,Greater Wilshire,4,Bulky Items,2,Sanitation Bureau,17,Website,2019-01-01T00:02:00,2019-01-04 11:03:00,"616 N GRAMERCY PL, 90004",Olympic
1,3,1-1262693571,60,Northridge West,1,Graffiti,4,Office of Community Beautification,17,Website,2019-01-01T00:10:00,2019-01-03 00:27:00,"9167 N RESEDA BLVD, 91324",Devonshire

In [13]:
dfcall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1299529 entries, 0 to 1299528
Data columns (total 14 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   requestId    1299529 non-null  int64
 1   srnumber     1299529 non-null  object
 2   councilId    1299529 non-null  int64
 3   councilName  1299529 non-null  object
 4   typeId       1299529 non-null  int64
 5   typeName     1299529 non-null  object
 6   agencyId     1299529 non-null  int64
 7   agencyName   1299529 non-null  object
 8   sourceId     1299529 non-null  int64
 9   sourceName   1299529 non-null  object
 10  createdDate  1299529 non-null  object
 11  closedDate   1298644 non-null  object
 12  address      1299529 non-null  object
 13  AreaName     1299529 non-null  object
dtypes: int64(5), object(9)
memory usage: 148.7+ MB

In [12]:
dfcall.drop(['requestId', 'councilId', 'typeId', 'agencyId', 'sourceId'], axis=1, inplace=True)

In [13]:
dfcall.head(2)

,srnumber,councilName,typeName,agencyName,sourceName,createdDate,closedDate,address,AreaName
0,1-1262692791,Greater Wilshire,Bulky Items,Sanitation Bureau,Website,2019-01-01T00:02:00,2019-01-04 11:03:00,"616 N GRAMERCY PL, 90004",Olympic
1,1-1262693571,Northridge West,Graffiti,Office of Community Beautification,Website,2019-01-01T00:10:00,2019-01-03 00:27:00,"9167 N RESEDA BLVD, 91324",Devonshire

In [14]:
dfcall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1299529 entries, 0 to 1299528
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   srnumber     1299529 non-null  object
 1   councilName  1299529 non-null  object
 2   typeName     1299529 non-null  object
 3   agencyName   1299529 non-null  object
 4   sourceName   1299529 non-null  object
 5   createdDate  1299529 non-null  object
 6   closedDate   1298644 non-null  object
 7   address      1299529 non-null  object
 8   AreaName     1299529 non-null  object
dtypes: object(9)
memory usage: 99.1+ MB

In [1]:
df2019 = dfcall.merge(dfcrime, on = 'AreaName', how = 'inner', indicator = True)

NameError: name 'dfcall' is not defined

In [17]:
#going to save the files and try colab
dfcall.to_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\clean_call_2019.csv')

In [18]:
dfcrime.to_csv(r'C:\Documents\projects\HackLA\311\data\WorkedonData\cr2019b.csv')