In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [19]:
pd.options.display.max_columns = None

In [5]:

df2021=pd.read_csv(r'C:\Documents\projects\HackLA\311\data\MyLA311_Service_Request_Data_2021.csv',
                       low_memory=False)

In [6]:
df2021.head(2)

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,MobileOS,Anonymous,...,Location,TBMPage,TBMColumn,TBMRow,APC,CD,CDMember,NC,NCName,PolicePrecinct
0,1-1831742951,01/01/2021 12:06:16 AM,01/02/2021 02:23:21 PM,SR Created,LASAN,Metal/Household Appliances,Closed,Call,NaN,N,...,"(34.2893893478, -118.46359286)",481.0,H,6.0,North Valley APC,7.0,Monica Rodriguez,5.0,Sylmar,MISSION
1,1-1831741721,01/01/2021 12:27:17 AM,01/03/2021 01:44:27 PM,SR Created,LASAN,Metal/Household Appliances,Closed,Call,NaN,N,...,"(34.2140011149, -118.628669123)",529.0,G,3.0,South Valley APC,12.0,John Lee,11.0,West Hills,TOPANGA

In [9]:
df2021['CreatedDate'] = pd.to_datetime(df2021['CreatedDate'])

In [10]:
df2021['CreatedDate'].min()

Timestamp('2021-01-01 00:06:16')

In [11]:
df2021['CreatedDate'].max()

Timestamp('2021-12-31 23:55:49')

In [12]:
df2021['UpdatedDate'] = pd.to_datetime(df2021['UpdatedDate'])

In [14]:
df2021['UpdatedDate'].min()

Timestamp('2021-01-01 08:54:07')

In [15]:
df2021['UpdatedDate'].max()

Timestamp('2022-08-02 15:28:28')

In [16]:
df2021['ServiceDate'] = pd.to_datetime(df2021['ServiceDate'])

In [17]:
df2021['ServiceDate'].min()

Timestamp('2012-12-07 00:00:00')

In [20]:
df2021[df2021['ServiceDate'] < '2018']

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,MobileOS,Anonymous,AssignTo,ServiceDate,ClosedDate,AddressVerified,ApproximateAddress,Address,HouseNumber,Direction,StreetName,Suffix,ZipCode,Latitude,Longitude,Location,TBMPage,TBMColumn,TBMRow,APC,CD,CDMember,NC,NCName,PolicePrecinct
1135932,1-2079895541,2021-10-01 11:56:29,2021-12-08 11:42:59,SR Created,BSL,Single Streetlight Issue,Closed,Call,NaN,Y,SOUTH,2012-12-07,12/07/2012 12:00:00 AM,Y,Y,"7013 S AVALON BLVD, 90003",7013.0,S,AVALON,BLVD,90003,33.975739,-118.265288,"(33.97573891, -118.26528762)",674.0,D,7.0,South Los Angeles APC,9.0,Curren D. Price Jr.,86.0,CANNDU,NEWTON

In [22]:
df2021.shape

(1451552, 33)

In [23]:
df2021.drop(df2021.loc[df2021['ServiceDate']<'2018'].index, inplace=True)

In [24]:
df2021.shape

(1451551, 33)

In [25]:
df2021['ClosedDate'] = pd.to_datetime(df2021['ClosedDate'])

In [26]:
df2021['ClosedDate'].min()

Timestamp('2019-11-01 00:00:00')

In [27]:
df2021['ClosedDate'].max()

Timestamp('2027-07-27 00:00:00')

#### min 2019 and max 2027??

take out hours, min, sec from all dates

In [28]:
df2021['ServiceDate'] = pd.to_datetime(df2021['ServiceDate']).dt.normalize()

In [29]:
df2021['ClosedDate'] = pd.to_datetime(df2021['ClosedDate']).dt.normalize()

In [30]:
df2021['CreatedDate'] = pd.to_datetime(df2021['CreatedDate']).dt.normalize()

In [31]:
df2021['UpdatedDate'] = pd.to_datetime(df2021['UpdatedDate']).dt.normalize()

In [32]:
df2021.head(2)

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,MobileOS,Anonymous,AssignTo,ServiceDate,ClosedDate,AddressVerified,ApproximateAddress,Address,HouseNumber,Direction,StreetName,Suffix,ZipCode,Latitude,Longitude,Location,TBMPage,TBMColumn,TBMRow,APC,CD,CDMember,NC,NCName,PolicePrecinct
0,1-1831742951,2021-01-01,2021-01-02,SR Created,LASAN,Metal/Household Appliances,Closed,Call,NaN,N,EV,2021-01-02,2021-01-02,Y,N,"15251 W CAREY RANCH LANE, 91342",15251.0,W,CAREY RANCH,LANE,91342,34.289389,-118.463593,"(34.2893893478, -118.46359286)",481.0,H,6.0,North Valley APC,7.0,Monica Rodriguez,5.0,Sylmar,MISSION
1,1-1831741721,2021-01-01,2021-01-03,SR Created,LASAN,Metal/Household Appliances,Closed,Call,NaN,N,WV,2021-01-02,2021-01-03,Y,N,"23022 W BLYTHE ST, 91304",23022.0,W,BLYTHE,ST,91304,34.214001,-118.628669,"(34.2140011149, -118.628669123)",529.0,G,3.0,South Valley APC,12.0,John Lee,11.0,West Hills,TOPANGA

In [33]:
#Create dataframe where Servicedate before CreatedDate
dsc = df2021[df2021['ServiceDate'] < df2021['CreatedDate']]

In [34]:
dsc.shape

(156765, 33)

156,765!

In [35]:
df2021.to_csv(r'C:\Documents\projects\HackLA\311\data\MyLA311_Service_Request_Data_2021dt.csv')